:root{
--maincolor: black;
--bordercl:black;
--callouctcolor:black;
--hovercolor:black;
--darkMaincolor:#aaaaaa;
}

p {
  font-family: monospace;
}

html {
  font-family: monospace;
  font-size: 17px;
}

.callout p {
  font-family: monospace;
}

.content {
  max-width: 900px;
}

hr {
    border-color: var(--bordercl);
}

ul li {
    text-indent: 0ch;
}

@media (prefers-color-scheme: dark) {
    hr {
        border-color: var(--darkMaincolor);
    }
}
