:root{
--maincolor: black;
--bordercl:white;
--callouctcolor:white;
--hovercolor:black;
--darkMaincolor:white;
}

p {
  font-family: monospace;
}

html {
  font-family: monospace;
  font-size: 17px;
}

.callout p {
  font-family: monospace;
}

.content {
  max-width: 900px;
}
